<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flow Finder Login</title>
	<meta name="description" content="A community for flow and fire artists to share events, workshops, classes, and flow and fire jams.">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- cSS -->
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Bungee+Inline|Chelsea+Market|Poppins" rel="stylesheet">
</head>
<body>

	<main role="main">

		<!-- SIGN IN -->
		<section id="signin" class="cont">
		 	<form class="signin-form">
				<h2>Welcome back,</h2>

				<label for="username">Username
					<input type="text" id="username" name="username"/>
				</label>
		    
				<label>Password
					<input type="password" id="password" name="password"/>
				</label>
				
		    	<button type="submit" class="submit" role="button">Sign In</button>
				<p class="forgot-pass">Forgot password?</p>
				<p class="create-account">New here? Create an account</p>
		    </form> 
		</section>

		<!-- SIGN UP -->
		<section id="signup" class="sub-cont hidden">
		    
		    <form class="signup-form">
				<h2>Find Your Flow,</h2>

				<label for="firstname">First Name
					<input type="text" id="firstname" name="firstname"/>
				</label>
		      
				<label for="lastname">Last Name
					<input type="text" id="lastname" name="lastname"/>
				</label>

				<label for="new-username">Username
					<input type="text" id="new-username" name="new-username"/>
				</label>

				<label>Password
					<input type="password" id="new-password" name="new-password"/>
				</label>

				<button type="button" class="submit" role="button">Sign Up</button>
				<p class="have-account">I've got an account</p>

		    </form>
		    
		</section>
	</main>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- javaScript -->
<script type="text/javascript" src="../js/login.js"></script>
</body>
</html>