<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flow Finder Sign Up</title>
</head>
<body>

	<h3 class="form-title">Sign up form</h3>

	<form>
	  <ul id="contact">
	  	
		  <li class="half alpha">
		    <label for="first-name">First Name</label>
		    <input id="first-name" type="text" />
		  </li>
		  <li class="half">
		    <label for="last-name">Last Name</label>
		    <input id="last-name" type="text" />
		  </li>
		  <li class="clear">
		    <label for="email">Email <span class="hint">(username@domain.com)</span></label>
		    <input id="email" type="text" />
		  </li>
		  <li class="half alpha">
		    <label for="password">Password</label>
		    <input id="password" type="text" />
		  </li>
		  <li class="half">
		    <label for="confirm-pw">Confirm password</label>
		    <input id="confirm-pw" type="text" />
		  </li>
		  <li class="clear">
		    <label for="username">Username <span class="hint">(must at least 8 characters)</span></label>
		    <input id="username" type="text" />
		  </li>

		  <footer>
		    <button class="half">Sign me up</button>

		    <p>By submit this request you accept all the terms and conditions. This could take a few moments.</p>
		  </footer>

		</ul>
	</form>
</body>
</html>

