/*SHOW EVENTS*/
.user-options{
    float: right;
}
.fa-edit {
    color: #aaa;
    font-size: 14px;
    margin: 0px;
}

.events-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.event-item {
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: 3px;
    margin: 2px auto;
    padding: 5px 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/*.add-event {
    float: left;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    background-color: #769885;
    border: none;
    padding: 0px;
    outline: none;
}
*/
.event-name {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.event-description {
    margin-top: 15px;
}

.event-address {
    font-style: italic;
    margin-top: 20px;
    text-align: center;
}



