#login, #register {
	width: 50%;
	margin: 0 auto;
	background-color: rgba(256, 256, 256, 0.7);
	margin-top: 20px;
	border-radius: 10px;
}

#login {
	height: 400px;
}

/*LOGIN & REGISTER FORM*/
.login-form, .register-form {
	padding: 45px;
	overflow: hidden;
}

h2 {
	font-size: 26px;
	text-align: center;
}

.login-form label,
.register-form label {
	display: block;
	width: 70%;
	margin: 10px auto;
	text-align: center;
	color: #30373a;
	text-transform: uppercase;
}


.login-form input, .login-form button,
.register-form input, .register-form button {
	border: none;
	outline: none;
}

.login-form input
.register-form input {
	display: block;
	width: 100%;
	font-size: 16px;
	text-align: center;
}

.login-form input,
.register-form input {
	background: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-align: center;
}

.login-form button,
.register-form button {
	display: block;
	color: #fff;
	border-radius: 30px;
	font-size: 15px;
	height: 36px;
	width: 60%;
	margin: 20px auto 10px;
}

.forgot-pass, .create-account, .have-account {
	text-align: center;
	font-size: 11px;
	color:  #30373a;
	cursor: pointer;
}

.forgot-pass:hover, .create-account:hover, .have-account:hover {
	color: #d4af7a; /*gold*/
}


.submit {
	background-color: #d4af7a; /*gold*/
	text-transform: uppercase;
}

.message {
	color: red;
	font-weight: bolder;
	margin-top: 25px;
	text-align: center;
	text-transform: uppercase;
}
































