* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

main {
    padding-top: 50px;
}

h1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 24px;
}

.hidden {
    display: none;
}

#container {
	background-image: url('../img/timothy-paul-smith-218074-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding-top:50px;
}

/*NAVIGATION BAR*/
.navbar {
    background: #000000;
    display: flex;
    position: fixed;
    font-size: 16px;
    height: 60px;
    top: 0;
    right: 0;
    left:0;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-right: 30px;
}

.main-nav li {
	text-align: center;
}

.logo {
    cursor: none;
    display: inline-block;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 20px;
}

.nav-links {
	margin-left: 20px;
}

.nav-links, .logo {
	color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#intro h1 {
    color: #bb934a;
    font-family: 'Cookie', cursive;
    font-size: 45px;
    margin-top: 29px;
    text-align: center;
    text-shadow: 4px 5px 10px #ffffff, -2px -5px 10px #ffffff, 7px -7px 20px #ffffff, -5px 6px 9px #ffffff;
}

/*EVENT CREATE & UPDATE MODAL*/
.modal {
    position: fixed;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 15px;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.closeModal {
    float: right;
}

.closeModal, .delete-button, .close-msg {
    color: #407356;
    font-size: 16px;
    font-weight: bold;
}

.fa-edit:hover,
.fa-edit:focus,
.closeModal:hover,
.closeModal:focus,
.delete-button:hover,
.delete-button:focus,
.close-msg:hover,
.close-msg:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*EVENT FORM*/
input, textarea, select, button {
  width : 100%;
  height: 25px;
  margin: 0;
  padding: 5px;

}

input, button {
    font-family: 'Poppins', sans-serif;
}

button:hover {
    cursor: pointer;
}

input {
    margin-bottom: 10px;
}

.form-heading {
    text-align: center;
}

legend {
    text-align: center;
    padding: 5px;
}

fieldset {
    width: 48%;
    padding: 5px;
}

.form-location {
    float: left;
}

.form-datetime {
    float: right;
}

.fa-calendar-alt, .fa-clock {
    color: #407356;
    float: right;
    font-size: 18px;
}

.date, .time {
    clear: right;
}

.row.statezip {
    padding-left: 0px;
    padding-right: 0px;

}

#save-event-button, #edit-event-button {
    border-color: #76bf96;
    background-color: #76bf96;
    padding-top: 1px;
    margin-top: 15px;
}

#save-event-button:hover, #edit-event-button:hover {
    background-color: #1BA64B;
}

.message-wrapper {
    text-align: center;
}

.alert-message {
    background-color: #479c52;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 5px;
    display: none;
}

.msg {
    display: inline;
}



